<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marvel" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MARVEL" >
        <activity
            android:name=".DisplayScreen"
            android:exported="false" />
        <activity
            android:name=".M9"
            android:exported="false" />
        <activity
            android:name=".N12"
            android:exported="false" />
        <activity
            android:name=".N11"
            android:exported="false" />
        <activity
            android:name=".N10"
            android:exported="false" />
        <activity
            android:name=".M8"
            android:exported="false" />
        <activity
            android:name=".M7"
            android:exported="false" />
        <activity
            android:name=".M6"
            android:exported="false" />
        <activity
            android:name=".M5"
            android:exported="false" />
        <activity
            android:name=".M4"
            android:exported="false" />
        <activity
            android:name=".M3"
            android:exported="false" />
        <activity
            android:name=".M2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationBroadcast"/>

    </application>

</manifest>